.hide {
  display: none;
}

#debug-console {
  display: flex;
  justify-content: space-evenly;
  padding: 12px;
  background-color: #eae9ba;
  color: #6b695a;
}

#app {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #e4e4ee;
}
.view {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

#hallway {
  background-image: url('../assets/bg-hallway.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}